@import "variables";
@import "base";
@import "interface";
@import "keyFrames";
@import "transitions";
@import "classStyles";

.App {
	header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $color-primary;
		border-bottom: 4px solid $color-secondary;
		height: 100vh;
	}
	.container {
		position: absolute;
		margin: 1rem;
		margin-left: 2rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		left: 50%;
		transform: translate(-50%, -20%);
		width: 600px;
		.title-div {
			position: relative;
			bottom: 6px;
			margin-left: 2rem;
			line-height: $line-height-base;
			h2 {
				color: $color-secondary;
			}
		}
		.logo-div {
			img {
				width: 120px;
			}
		}
		
	}
	.enter {
		transition: opacity .2s;
		cursor: pointer;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-143%, 0%);
		h3 {
			color: $white;
			font-size: 3rem;
			letter-spacing: .5rem;
			font-weight: lighter;
			transition: all .5s;
		}
		h3:hover {
			transform: scale(1.2);
			color: $color-secondary;
		}
	}
}

@media screen and (max-width: 600px) {
	.App {
		header {
		}
		.container {
			.title-div {
				
				h2 {
					font-size: 2.5rem;
				}
				h1 {
					font-size: 3rem;
				}
			}
			.logo-div {
				img {
				}
			}
		}
	}
}

nav {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 120px;
	.nav-div {
		position: relative;
		right: -600px;
		background-color: $color-secondary;
		border-radius: 0 0 0 10px;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				font-size: $font-size-base * 1.5;
				display: inline;
				padding: 1rem 2rem;
				// background-color: black;
				a {
					color: $white;
					transition: color .1s;
				}
				a:hover {
					color: $color-primary;
				}
			}
		}
	}
}

.Home {
	.jumbo {
		img {
			object-fit: cover;
			object-position: top;
			height: 50vh;
			width: 100vw;
		}
	}
	.countdown-div {
		background-color: rgba(0, 0, 0, 0.575);
		border-radius: 30px 30px 0 0;
		position: absolute;
		right: 0;
		z-index: 1;
		margin-top: -74px;
		display: flex;
		// flex-direction: column;
		justify-content: center;
		align-items: baseline;
		padding: 1rem;
		width: 100%;
		p {
			font-size: $font-size-base * 2.75;
			color: $white;
			margin-right: 3rem;
			letter-spacing: .25rem;
			line-height: 2rem;
		}
		h2 {
			font-size: $font-size-base * 5;
			color: $white;
			span {
				font-size: inherit;
			}
		}
	}
	.content-2 {
		display: flex;
		justify-content: space-around;
		position: relative;
		margin-top: -4px;
		// margin: 2rem 0;
		.race-info {
			border: 30px solid $color-secondary;
			border-right: none;
			border-left: none;
			padding: 2rem;
			width: 50%;
			p {
				span {
					color: $color-primary;
					font-weight: 600;
				}
			}
			h2 {
				margin: 0;
			}
			ul {
				margin-top: 1rem;
				list-style: none;
				li {
					margin-left: 1rem;
					font-size: $font-size-base * 2;
					display: flex;
					align-items: flex-end;
					color: $color-secondary;
					p {
						margin-left: 1rem;
						color: $black;
						line-height: $line-height-base / 1.5;
						position: relative;
						bottom: 3px;
					}
				}
			}
			a {
				display: inline-block;
				margin: 1rem 0;
				margin-top: 2rem;
				background-color: $color-primary;
				padding: 1rem;
				color: $white;
			}
			a:hover {
				background-color: $color-primary-light;
			}
		}
		.pic {
			border: 30px solid $color-primary;
			border-right: none;
			border-left: none;
			width: 50%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: left;
			}
		}
	}
}

@media screen and (max-width: 980px) {
	.Home {
		.jumbo {
			img {
			}
		}
		.countdown-div {
			flex-direction: column;
			margin-top: -104px;
			p {
				font-size: 2rem;
			}
			h2 {
				span {
				}
			}
		}
		.content-2 {
			flex-direction: column;
			align-items: center;
			width: 100vw;
			.race-info {
				width: 100%;
				h2 {
				}
				ul {
					li {
						p {
						}
					}
				}
			}
			.pic {
				width: 100%;
				img {
				}
			}
		}
	}
}

.Register {
	margin-top: 4rem;
	margin-left: 2rem;
	h1 {
		// margin: 4rem;
		// margin-top: 5rem;
	}
	.page {
		width: 100%;
		display: flex;
		.form {
			width: 60%;
			// height: 40vh;
			margin-right: 2rem;
			padding: 2rem;
			background-color: lightcyan;
		}
		.img {
			// height: 100%;
			width: 40%;
			margin-right: 4rem;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: left;
			}
		}
	}
}
.form-line {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.form-field {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;

}

.LiveEvent {
	margin-top: 4rem;
	display: flex;
	justify-content: space-around;
}