@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #f5f5ff;
}

body {
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #131313;
}

h1, h2, h3, h4, h5, h6 {
  color: #05408d;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.25rem;
  line-height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.8rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.68rem;
  line-height: 2.64rem;
  padding: 1rem 0;
  padding-bottom: 0;
}

a, a:visited {
  color: #05408d;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #d32329;
}

input, select {
  font-size: 1.6rem;
  margin: 1rem;
  padding: 0.5rem;
}

select {
  width: 18rem;
}

@keyframes revealHeader {
  0% {
    height: 100vh;
  }
  100% {
    height: 120px;
  }
}
@keyframes moveTitle {
  0% {
    transform: translateX(-50%);
    left: 50%;
  }
  100% {
    left: 0;
    transform: translateX(0);
  }
}
@keyframes showNav {
  0% {
    right: -600px;
  }
  80% {
    right: -600px;
  }
  100% {
    right: 0;
  }
}
.light {
  font-weight: lighter;
}

.heavy {
  font-weight: 800;
}

.loading {
  /* to use in your component file, use `import loading from '<path-to->/images/loading.gif', then in img tag src={loading}  */
  width: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  /* this will hard center a block element in the viewport on both axis */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: #f5f5ff;
}

.italic {
  font-style: italic;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.reveal-header {
  animation: revealHeader 2s;
  animation-fill-mode: forwards;
}

.move-title {
  animation: moveTitle 2s;
  animation-fill-mode: forwards;
}

.show-nav {
  animation: showNav 2.7s;
  animation-fill-mode: forwards;
}

.App header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #05408d;
  border-bottom: 4px solid #d32329;
  height: 100vh;
}
.App .container {
  position: absolute;
  margin: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 600px;
}
.App .container .title-div {
  position: relative;
  bottom: 6px;
  margin-left: 2rem;
  line-height: 2.2rem;
}
.App .container .title-div h2 {
  color: #d32329;
}
.App .container .logo-div img {
  width: 120px;
}
.App .enter {
  transition: opacity 0.2s;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-143%, 0%);
}
.App .enter h3 {
  color: #f5f5ff;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  transition: all 0.5s;
}
.App .enter h3:hover {
  transform: scale(1.2);
  color: #d32329;
}
.App footer {
  background-color: #05408d;
  color: #f5f5ff;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.App footer p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .App .container .title-div h2 {
    font-size: 2.5rem;
  }
  .App .container .title-div h1 {
    font-size: 3rem;
  }
}
nav {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 120px;
}
nav .nav-div {
  position: relative;
  right: -600px;
  background-color: #d32329;
  border-radius: 0 0 0 10px;
}
nav .nav-div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-div ul li {
  font-size: 15px;
  display: inline;
  padding: 1rem 2rem;
}
nav .nav-div ul li a {
  color: #f5f5ff;
  transition: color 0.1s;
}
nav .nav-div ul li a:hover {
  color: #05408d;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  nav .nav-div {
    border-radius: 0;
  }
  nav .nav-div ul li {
    font-size: 1.2rem;
  }
}
.Home .jumbo img {
  object-fit: cover;
  object-position: top;
  height: 50vh;
  width: 100vw;
}
.Home .countdown-div {
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 30px 30px 0 0;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: -74px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  width: 100%;
}
.Home .countdown-div p {
  font-size: 27.5px;
  color: #f5f5ff;
  margin-right: 3rem;
  letter-spacing: 0.25rem;
  line-height: 2rem;
}
.Home .countdown-div h2 {
  font-size: 50px;
  color: #f5f5ff;
}
.Home .countdown-div h2 span {
  font-size: inherit;
}
.Home .content-2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: -4px;
}
.Home .content-2 .race-info {
  border: 30px solid #d32329;
  border-right: none;
  border-left: none;
  padding: 2rem;
  width: 50%;
}
.Home .content-2 .race-info p span {
  color: #05408d;
  font-weight: 600;
}
.Home .content-2 .race-info h2 {
  margin: 0;
}
.Home .content-2 .race-info ul {
  margin-top: 1rem;
  list-style: none;
}
.Home .content-2 .race-info ul li {
  margin-left: 1rem;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  color: #d32329;
}
.Home .content-2 .race-info ul li p {
  margin-left: 1rem;
  color: #131313;
  line-height: 1.4666666667rem;
  position: relative;
  bottom: 3px;
}
.Home .content-2 .race-info a {
  display: inline-block;
  margin: 1rem 0;
  margin-top: 2rem;
  background-color: #05408d;
  padding: 1rem;
  color: #f5f5ff;
}
.Home .content-2 .race-info a:hover {
  background-color: #1461c7;
}
.Home .content-2 .pic {
  border: 30px solid #05408d;
  border-right: none;
  border-left: none;
  width: 50%;
}
.Home .content-2 .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media screen and (max-width: 980px) {
  .Home .countdown-div {
    flex-direction: column;
    margin-top: -104px;
  }
  .Home .countdown-div p {
    font-size: 2rem;
  }
  .Home .content-2 {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .Home .content-2 .race-info {
    width: 100%;
  }
  .Home .content-2 .pic {
    width: 100%;
  }
}
.Register {
  margin-top: 4rem;
  margin-left: 2rem;
}
.Register .page {
  width: 100%;
  display: flex;
}
.Register .page .form {
  width: 60%;
  margin-right: 2rem;
  padding: 2rem;
  background-color: lightcyan;
}
.Register .page .img {
  width: 40%;
  margin-right: 4rem;
}
.Register .page .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.Register .page .form-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.Register .page .form-field {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

@media screen and (max-width: 1100px) {
  .Register .page .form-line {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .Register {
    margin-right: 2rem;
  }
  .Register h1 {
    font-size: 2.6rem;
    margin-top: 5rem;
  }
  .Register .page {
    flex-direction: column;
  }
  .Register .page .form {
    width: 100%;
  }
  .Register .page .img {
    width: 100%;
  }
  .Register .page .form-line {
    flex-direction: column;
  }
}
.LiveEvent {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .LiveEvent {
    margin-top: 7rem;
  }
  .LiveEvent h1 {
    font-size: 2.6rem;
  }
  .LiveEvent div img {
    display: none;
  }
}
.PreviousRaces {
  margin-top: 4rem;
  margin-left: 4rem;
}
.PreviousRaces .grid-style {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .PreviousRaces {
    margin-top: 6rem;
  }
  .PreviousRaces h1 {
    font-size: 2.6rem;
  }
  .PreviousRaces .grid-style {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
