@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #f5f5ff;
}

body {
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #131313;
}

h1, h2, h3, h4, h5, h6 {
  color: #05408d;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.25rem;
  line-height: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.8rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.68rem;
  line-height: 2.64rem;
  padding: 1rem 0;
}

a, a:visited {
  color: #05408d;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #d32329;
}

@keyframes moveInRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.light {
  font-weight: lighter;
}

.heavy {
  font-weight: 800;
}

.loading {
  /* to use in your component file, use `import loading from '<path-to->/images/loading.gif', then in img tag src={loading}  */
  width: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  /* this will hard center a block element in the viewport on both axis */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: #f5f5ff;
}

.italic {
  font-style: italic;
}

.App header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #05408d;
  border-bottom: 4px solid #d32329;
}
.App .container {
  margin: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.App .container .title-div {
  position: relative;
  bottom: 6px;
  margin-left: 2rem;
  line-height: 2.2rem;
}
.App .container .title-div h2 {
  color: #d32329;
}
.App .container .logo-div img {
  width: 120px;
}

.NavBar {
  position: absolute;
  right: 0;
  top: 124px;
  background-color: #d32329;
  animation: moveInRight 2s;
  animation-fill-mode: forwards;
}
.NavBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar ul li {
  font-size: 15px;
  display: inline;
  padding: 1rem 2rem;
}
.NavBar ul li a {
  color: #f5f5ff;
  transition: color 0.1s;
}
.NavBar ul li a:hover {
  color: #05408d;
}

.Home .jumbo img {
  object-fit: cover;
  object-position: top;
  height: 50vh;
  width: 100vw;
}
.Home .countdown-div {
  background-color: rgba(0, 0, 0, 0.575);
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: -104px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 50%;
}
.Home .countdown-div p {
  font-size: 30px;
  color: #f5f5ff;
  margin-right: 3rem;
  letter-spacing: 0.25rem;
  line-height: 1rem;
}
.Home .countdown-div h2 {
  font-size: 50px;
  color: #f5f5ff;
}
.Home .countdown-div h2 span {
  font-size: inherit;
}
.Home .content-2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: -4px;
}
.Home .content-2 .race-info {
  border: 30px solid #d32329;
  border-right: none;
  border-left: none;
  padding: 2rem;
  width: 50%;
}
.Home .content-2 .race-info h2 {
  margin: 0;
}
.Home .content-2 .race-info ul {
  margin-top: 1rem;
  list-style: none;
}
.Home .content-2 .race-info ul li {
  margin-left: 1rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #d32329;
}
.Home .content-2 .race-info ul li p {
  margin-left: 1rem;
  color: #131313;
  line-height: 1.1rem;
}
.Home .content-2 .race-info a {
  display: inline-block;
  margin: 1rem 0;
  margin-top: 2rem;
  background-color: #05408d;
  padding: 1rem;
  color: #f5f5ff;
}
.Home .content-2 .race-info a:hover {
  background-color: #1461c7;
}
.Home .content-2 .pic {
  border: 30px solid #05408d;
  border-right: none;
  border-left: none;
  width: 50%;
}
.Home .content-2 .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media screen and (max-width: 970px) {
  .Home .content-2 {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .Home .content-2 .race-info {
    width: 100%;
  }
  .Home .content-2 .pic {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
